* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right, rgb(3, 0, 44),rgb(48, 32, 94),rgb(61, 11, 83));
}

.calculator {
    background:linear-gradient(to top right,rgb(134, 26, 161),rgb(67, 9, 114),rgb(0, 0, 112));
    padding: 10px;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 0px 5px 15px;
    border-radius: 10px;
}

.calculator input {
    margin: 20px;
    height: 50px;
    width: 228px;
    text-align: right;
    font-size: 25px;
    font-weight: 600;
    background:linear-gradient(to top,rgb(0, 183, 255),rgb(183, 150, 243));
    border: 2px solid black;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0px 0px 5px;
    outline: none;
}
.calculator input::placeholder {
    text-align: right;
    font-size: 25px;
    font-weight: 600;
    color: #000;
}

button {
    margin: 10px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: 2px solid black;
    background: #000;
    color: white;
    transition: 0.4s ease-in 0.1s;
    box-shadow:0px 5px 10px #424242;
    border-radius: 6px;
}

.AC {
    border-radius: 100%;
    background: rgb(236, 161, 22);
    border: none;
    outline: none;
}
.DEL{
    border-radius: 6px;
    background: rgb(250, 1, 1);
    box-shadow: 0px 5px 10px #424242;
    color: #ffff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    outline: none;
}
.DEL:hover{
    color:  rgb(250, 1, 1);
    border: 1px solid rgb(250, 1, 1);
    background: #000;
}
.AC:hover{
    color:rgb(236, 161, 22); 
    border: 1px solid rgb(236, 161, 22);
    background: #000;
}
.operators:hover{
    color:rgb(7, 122, 41); 
    background: #000;
}
.numbers:hover{
    font-weight: 800;
}
button:hover{
    transform: scale(1.1);
    background: #ffff;
    color: #000;
}