* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #01360df6;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    width: 100%
}

.container {
    position: relative;
}

.clock {
    background-image: radial-gradient(#295723a4, rgba(5, 26, 12, 0.979));
    width: 510px;
    height: 510px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clockBorder::before {
    content: "";
    position: absolute;
    width: 560px;
    height: 560px;
    background: linear-gradient(rgba(3, 105, 25, 0.411), rgb(2, 78, 2));
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0px 0px 20px rgb(3, 255, 3);
    animation: shadow 2s linear 0.1s infinite alternate-reverse;
}

.clockBorder {
    width: 510px;
    height: 510px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    inset: 14px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
}

.clock::before {
    background: #ffff;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    z-index: 1
}

.hour {
    position: absolute;
    height: 24%;
    width: 8px;
    background-color: #1b2e08;
    box-shadow: 0px 0px 7px rgb(59, 95, 6);
    bottom: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    transform-origin: bottom center;
    border-radius: 50% 50% 0 0;

}

.second {
    position: absolute;
    height: 37%;
    width: 4px;
    box-shadow: 0px 0px 7px rgb(65, 102, 9);
    background-color: rgb(252, 69, 69);
    display: flex;
    justify-content: center;
    bottom: 256px;
    align-items: center;
    transform-origin: bottom center;
    border-radius: 50% 50% 0 0;
}

.minute {
    position: absolute;
    height: 30%;
    width: 5px;
    bottom: 256px;
    transform-origin: bottom center;
    background-color: rgb(224, 202, 202);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 7px rgb(59, 95, 6);

    align-items: center;
    border-radius: 50% 50% 0 0;
}


@keyframes shadow {
    10% {
        box-shadow: 0px 0px 30px rgb(3, 255, 3);
    }

    20% {
        box-shadow: 0px 0px 50px rgb(3, 255, 3);
    }

    40% {
        box-shadow: 0px 0px 90px rgb(3, 255, 3);
    }

    60% {
        box-shadow: 0px 0px 130px rgb(3, 255, 3);

    }

    80% {
        box-shadow: 0px 0px 160px rgb(3, 255, 3);

    }

    100% {
        box-shadow: 0px 0px 200px rgb(3, 255, 3);

    }
}


@media only screen and (max-width:680px)
 {
   .clock{
    width: 400px;
    height:400px;
   }
   .clockBorder::before{
    width: 440px;
    height:440px;
   }
   .clock span b {
    font-size: 24px;
   }
   .clock span{
    inset:60px;
   }
   .minute{
    height:28% ;
   }
   .second{
    height:32% ;
   }
   .hour{
    height: 23%;
   }
}
@keyframes shadow {
    10% {
        box-shadow: 0px 0px 30px rgb(3, 255, 3);
    }

    20% {
        box-shadow: 0px 0px 50px rgb(3, 255, 3);
    }

    40% {
        box-shadow: 0px 0px 90px rgb(3, 255, 3);
    }

    60% {
        box-shadow: 0px 0px 130px rgb(3, 255, 3);

    }

    80% {
        box-shadow: 0px 0px 160px rgb(3, 255, 3);

    }

    100% {
        box-shadow: 0px 0px 200px rgb(3, 255, 3);

    }
}


@media only screen and (max-width:500px)
 {
   .clock{
    width: 300px;
    height:300px;
   }
   .clockBorder::before{
    width: 340px;
    height:340px;
   }
   .clock span b {
    font-size: 18px;
   }
   .clock span{
    inset:114px;
   }
   .minute{
    height:21% ;
   }
   .second{
    height:24% ;
   }
   .hour{
    height: 19%;
   }
}